{# Load the tag library #}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  {% bootstrap_css %}
  <style type="text/css">
    .map { height: 300px; width: 100%; margin-bottom: 10px;}
    .container {width: 80%}
  </style>
  <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

  <script type="text/javascript">

    function initialize() {

      var map = new L.Map(
        "terrain", {
          center: new L.LatLng(45.524221, -122.670749),
          zoom: 16
        }
      );

      map.addLayer(
        new L.StamenTileLayer(
          "terrain", {
            detectRetina: true
          }
        )
      );

      var markers = [];
      var bbox = [];

      {% for call in object_list %}
          markers.push(
            L.marker(
              [ {{ call.location.coords.1 }}, {{ call.location.coords.0 }} ]
            ).addTo(map));
          bbox.push(
            [ {{ call.location.coords.1 }}, {{ call.location.coords.0 }} ]
          );
      {% endfor %}

      map.fitBounds(bbox);
      var autocomplete = new google.maps.places.Autocomplete(/** @type {HTMLInputElement} */
        (document.getElementById('id_address')),
        {
          types: ['geocode']
        }
      );
    };

    google.maps.event.addDomListener(window, 'load', initialize);

  </script>
</head>
<body>

<body>
    <div class="container">
      <div class="header">
        <h1 class="text-muted">Emergency Calls in PDX</h1>
      </div>
      <div class="row">
        {% bootstrap_messages %}
        {{ form.non_field_errors }}
        {{ form.address.errors }}
        {{ form.call_type.errors }}
        {{ form.comment.errors }}
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <p class="lead">Register emergency call in PDX.</p>
            <!-- <div id="map-canvas"></div> -->
            <div id="terrain" class="map"></div>
            <!-- <div id="watercolor" class="map leaflet-container leaflet-fade-anim" tabindex="0" style="position: relative;"></div> -->
            {# Display a form #}
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Add a new call
                </button>
                {% endbuttons %}
            </form>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="row">
            <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
              {% for neighborhood in neighborhoods %}
                <option
                    value="{% url 'neighborhood' neighborhood.pk %}"
                    {% if pk ==  neighborhood.pk %} selected {% endif %}>
                  {{ neighborhood.name|title }}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="row">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Call Type</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
              {% for call in object_list %}
                <tr>
                  <td>{{ call.call_type }}</td>
                  <td>{{ call.address }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>Code example for PyDX presentation, Oct 2015</p>
      </div>

    </div> <!-- /container -->
</body>
</html>
